<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load("current", {
            "packages":["map"],
            // Note: you will need to get a mapsApiKey for your project.
            // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
            "mapsApiKey": "AIzaSyCajIdNg9ZF5GaW64YHYaCm0JfTc-Bicu4"
        });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Lat', 'Long', 'Name'],
                [-33.8568, 151.2153, 'Sydney Opera House:'],
                [-33.8523, 151.2108, 'Sydney Harbour Bridge'],
                [-33.8908, 151.2743, 'Bondi beach'],
            ]);

            var map = new google.visualization.Map(document.getElementById('map_div'));
            map.draw(data, {
                showTooltip: true,
                showInfoWindow: true
            });


        }

    </script>
</head>

<body>
<div id="map_div" style="width: 800px; height: 700px"></div>
</body>
</html>